<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/vendor/style.css">
    <link rel="stylesheet" href="/static/vendor/admin_login.css">
  </head>
  <body>
    <div class="center_column">
      <h1>Admin</h1>
      <div id="admin_login_div2">
        <label>Логин</label>
        <input type="text" id="login"/>
      </div>
      <div id="admin_login_div3">
        <label>Пароль</label>
        <input type="text" id="password"/>
      </div>
      <button id="admin_login_done" onclick="window.location.href = '../choose.html';"><label>Готово</label></button>
    </div>
  </body>
</html>