<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Выберите функционал</title>
    <link rel="stylesheet" href="/static/vendor/style.css">
    <link rel="stylesheet" href="/static/vendor/choose_features.css">
  </head>
  <body>
    <form action="index.html"><input type="image" src="../images/arrow1.svg" class="back_btn"/></form>
    <div class="center_column">
        <h1 id="header">Выберите необходимый функционал</h1>
        <div class="row">
            <button class="choose_features_btn" onclick="window.location.href = 'worker_panel.html';">Рабочий</button>
            <button class="choose_features_btn" onclick="window.location.href = 'foreman_panel.html';">Прораб</button>
            <button class="choose_features_btn" onclick="window.location.href = 'admin_panel.html';">Админ</button>
        </div>
    </div>
  </body>
</html>